<!DOCTYPE html>
<html>
<head>
	<title>bootstrap page</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




</head>
<body>
	<!-- <h2>Hai welcome to online bootstrap</h2> -->
	<div class="container">
		<div class="card col-md-6 mt-3 mx-auto bg-primary">
			<div class="card-body">
				<h3 class="text-warning">Login Form</h3>
				<form>
					<input type="text" name="uname" placeholder="Enter your username" class="form-control my-4">

					<input type="password" name="psw" placeholder="Enter your password" class="form-control my-4">

					<button class="btn btn-success" class="form-control">Login</button>
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>