{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>External page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css'%}">

	<script type="text/javascript" src="{% static 'js/sample.js' %}"></script>

	<style type="text/css">
		body{
			background-image: url({% static 'images/card12.jpg' %});
		}
	</style>
</head>
<body>
	<form>
		<h2>Login Form</h2>
		<input type="text" name="uname" placeholder="Enter your name"><br><br>
		<input type="password" name="psw" placeholder="Enter your password"><br><br>

		<button>Login</button>
	</form>
	<img src="{% static 'images/apssdc.jpg' %}">
</body>
</html>