<!DOCTYPE html>
<html>
<head>
	<title>registration page</title>
</head>
<body>
<form>
	<center>
		<h2>Registration Form</h2>
		<input type="text" name="uname" placeholder="Enter your Username"><br><br>
		<input type="number" name="mbl" placeholder="Enter your mobile number"><br><br>

		<input type="email" name="email" placeholder="Enter your Email"><br><br>

		<input type="password" name="psw" placeholder="Enter your password"><br><br>

		<input type="password" name="cpsw" placeholder="Enter your confirm password"><br><br>

		<button>Register</button>

	</center>
</form>
</body>
</html>