form{
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 10%;
	background-color: lightseagreen;
	padding:30px;
	border-radius: 30px;
}
button{
	background-color: green;
	color:white;
	padding:14px 20px;
	margin:10px;
	width:20%;
}
h2{
	color:navy;
	text-align: center;
}
input[type=text],input[type=password]{
	width:50%;
	padding:10px;
	background: #f1f1f1;
	margin: 5px 20px;
}